.wrapper {
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 36px,
        transparent 36px
      )
      0% 0%/44px 44px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 36px, transparent 36px)
      100% 0%/44px 44px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 36px, transparent 36px)
      0% 100%/44px 44px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 36px, transparent 36px)
      100% 100%/44px 44px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
      calc(100% - 88px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 88px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#ffc803 0%, #b37601 100%, transparent 1000%);
  border-radius: 44px;
  padding: 8px;
  box-sizing: content-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  position: relative;
  z-index: 2;

  @media (min-width: 800px) {
    max-width: 1000px;
  }
}
.inner {
  background: linear-gradient(180deg, #50f274 2.94%, #006038 85.32%);
  border-radius: 34px;
  padding: 20px 10px 30px 10px;
  font-size: 18px;
  line-height: 28px;
  max-height: 60vh;
  overflow: hidden;

  scrollbar-width: thin;

  @media (min-width: 800px) {
    padding: 1% 1% 6%;
    font-size: 24px;
    line-height: 31px;
    max-height: 50vh;
  }
}
.innerScroll {
  overflow: scroll;
  padding: 4% 4% 4%;
  max-height: 50vh;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.innerScroll::-webkit-scrollbar {
  display: none;
}

.headingAbove {
  font-family: var(--font-jomhuria);
  font-size: 46px;
  color: #fff;
  margin: 0 0 10px;

  @media (min-width: 800px) {
    font-size: 96px;
  }
}
.heading {
  font-family: var(--font-jomhuria);
  font-size: 80px;
  font-weight: 100;
  color: #fff;
  margin: 20px 0 10px;

  @media (min-width: 800px) {
    font-size: 140px;
    margin: 26px 0 50px;
  }
}

.btnWrapper {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 205px;
  height: 52px;

  @media (min-width: 800px) {
    bottom: -28px;
  }
}
.btnWrapper a {
  cursor: pointer;
}
