.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes enterBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.spinBtn {
  position: absolute;
  bottom: -150px;
  border-radius: 50%;
  background: linear-gradient(yellow, #66ff00, #0b8000);
  padding: 40px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  border: none;
  box-shadow: 0 8px 0 #134526;
  transition: 100ms;
  text-transform: uppercase;
  font-weight: 800;
  color: #0e3909;
  font-size: 25px;
}
.spinBtn:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #134526;
}
.spinBtn:focus {
  outline: none;
}

.main {
  height: 360px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @media (max-width: 1000px) {
    transform: scale(0.8);
    margin: -20px 0;
  }

  @media (max-width: 600px) {
    transform: scale(0.55);
    margin: -80px 0;
  }

  @media (min-width: 1001px) {
    transform: translateY(200%);
    animation: enterBottom 1s forwards;
  }
}

.main:after {
  content: ' ';
  height: 700px;
  top: -100px;
  left: -270px;
  position: absolute;
  z-index: -1;
  background-size: 80%;
  background-repeat: no-repeat;
}

.frame {
  position: absolute;
  height: 100%;
  width: 800px;
  height: 480px;
  left: -150px;
  top: -90px;
  position: relative;
}

.frameBg {
  position: absolute;
  height: 100%;
  width: 1300px;
  height: 790px;
  opacity: 0;
  top: -220px;
  animation: scaleUp 0.8s 0.4s forwards;

  @media (max-width: 1200px) {
    display: none;
  }
}

@keyframes scaleUp {
  from {
    opacity: 1;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.screen {
  position: absolute;
  transform: translateY(140px);
  perspective: 650px;
  display: flex;
  flex: 1;
  left: 126px;
  top: -63px;

  --slot-width: 116px;
  --slot-height: 180px;
}

.reel {
  transform-style: preserve-3d;
  width: var(--slot-width);
  height: var(--slot-height);
  transform-origin: center center;
  margin: 0 3px;
}

.slot {
  position: absolute;
  height: var(--slot-height);
  width: var(--slot-width);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.feedback {
  height: calc(100% - 75px);
  width: calc(100% + 125px);
  position: absolute;
  top: 50px;
  left: -60px;
  border-radius: 8px;
  background-color: #0b8000;
  color: #fff;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    padding: 20px;
    font-size: 24px;
  }
}
.feedback h3 {
  font-size: 50px;
  font-family: 'Bangers', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #a9ef07;
  margin: 0;
}
.feedbackBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.feedbackBtns a,
.feedbackBtns button {
  box-sizing: border-box;
  padding: 16px 32px;
  text-transform: uppercase;
  background: rgb(255, 226, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 226, 0, 1) 0%,
    rgba(255, 162, 0, 1) 100%
  );
  color: #000;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10px;
}

.cutOut {
  position: absolute;
  top: -10px;
  left: -66px;
  width: 618px;
  height: 323px;
  overflow: hidden;
}
