.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  @media (max-width: 100px) {
    margin-top: 100px;
  }
}

.header {
  position: absolute;
  z-index: 1;
  top: -90px;
  width: 300px;
  max-width: 100vw;

  @media (min-width: 800px) {
    top: -140px;
    width: 400px;
  }

  @media (min-width: 1000px) {
    top: -240px;
    width: 500px;
  }
}

@keyframes enterBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes enterBottomFooter {
  0% {
    transform: translateY(800%);
    @media (min-width: 1000px) {
      transform: translateY(600%);
    }
  }
  100% {
    transform: translateY(180%);
    @media (min-width: 1000px) {
      transform: translateY(50%);
    }
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  /* animation: enterBottomFooter 0.5s forwards; */
  animation-delay: 0.5s;
  padding-top: 100px;
  gap: 4px;
  bottom: -30px;

  flex-direction: column;
  align-items: center;
  transform: translateY(10%);

  @media (min-width: 800px) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(0%);
    bottom: 30px;
  }

  @media (min-width: 1000px) {
    bottom: -20px;
  }
}

.spinBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;

  @media (min-width: 800px) {
    top: 20px;
  }
}
.spinBtn a {
  display: block;
  width: 200px;
  height: 115px;
  position: relative;
  cursor: pointer;

  @media (min-width: 800px) {
    width: 350px;
    height: 200px;
  }
}
.spinBtn img {
  width: 100% !important;
  height: auto !important;
}

.main {
  height: 550px;
  width: calc(550px - 0px);
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: scale(0.5);
  margin: -80px 0 -80px 30px;

  @media (min-width: 600px) {
    transform: scale(0.55);
    margin: -80px 0;
    width: 500px;
  }

  @media (min-width: 1000px) {
    transform: scale(0.8);
    margin: -20px 0;
  }

  /* @media (max-width: 300px) {
    transform: scale(0.3);
    margin: -80px 0;
  } */

  @media (min-width: 1001px) {
    transform: translateY(200%);
    animation: enterBottom 1s forwards;
  }
}

.main:after {
  content: ' ';
  height: 700px;
  top: -100px;
  left: -270px;
  position: absolute;
  z-index: -1;
  background-size: 80%;
  background-repeat: no-repeat;
}

.frame {
  position: absolute;
  height: 100%;
  width: 800px;
  height: 480px;
  left: -150px;
  top: -90px;
  position: relative;
}

.frameBg {
  position: absolute;
  height: 100%;
  width: 1350px;
  height: 800px;
  opacity: 0;
  top: -250px;
  animation: scaleUp 0.8s 0.4s forwards;

  @media (max-width: 1000px) {
    display: none;
  }
}

@keyframes scaleUp {
  from {
    opacity: 1;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.screen {
  position: absolute;
  transform: translateY(140px);
  perspective: 650px;
  display: flex;
  flex: 1;
  left: 126px;
  top: -63px;

  --slot-width: 116px;
  --slot-height: 180px;
}

.reel {
  transform-style: preserve-3d;
  width: var(--slot-width);
  height: var(--slot-height);
  transform-origin: center center;
  margin: 0 3px;
}

.slot {
  position: absolute;
  height: var(--slot-height);
  width: var(--slot-width);
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.feedback {
  height: calc(100% - 75px);
  width: calc(100% + 125px);
  position: absolute;
  top: 50px;
  left: -60px;
  border-radius: 8px;
  background-color: #0b8000;
  color: #fff;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    padding: 20px;
    font-size: 24px;
  }
}
.feedback h3 {
  font-size: 50px;
  font-family: 'Bangers', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #a9ef07;
  margin: 0;
}
.feedbackBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.feedbackBtns a,
.feedbackBtns button {
  box-sizing: border-box;
  padding: 16px 32px;
  text-transform: uppercase;
  background: rgb(255, 226, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 226, 0, 1) 0%,
    rgba(255, 162, 0, 1) 100%
  );
  color: #000;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10px;
}

.cutOut {
  position: absolute;
  top: -10px;
  left: -66px;
  width: 618px;
  height: 323px;
  overflow: hidden;
}

.aboutBtns {
  align-items: center;
  margin-bottom: 30px;
}

.aboutBtns a {
  color: #fff;
  font-weight: bold;
}
.aboutBtns a:hover {
  text-decoration: none;
}

.altatape {
  position: absolute;
  width: 819px;
  height: 135px;
  bottom: 80px;
  opacity: 0;
  margin: 0 auto;
  animation-name: scaleUp, wave;
  animation-duration: 0.8s, 20s;
  animation-delay: 0.5s, 1s;
  animation-fill-mode: forwards, forwards;
  animation-iteration-count: 1, infinite;
  z-index: 999;

  width: 309px;
  height: 50px;
  bottom: 125px;

  @media (min-width: 600px) {
    width: 450px;
    height: 80px;
    bottom: 135px;
  }

  @media (min-width: 800px) {
    width: 469px;
    height: 90px;
    bottom: 130px;
  }

  @media (min-width: 1000px) {
    width: 819px;
    height: 135px;
    bottom: 80px;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg) skewX(0deg);
  }
  10% {
    transform: rotate(2deg) skewX(3deg);
  }
  20% {
    transform: rotate(-2deg) skewX(-3deg);
  }
  30% {
    transform: rotate(2deg) skewX(3deg);
  }
  40% {
    transform: rotate(-2deg) skewX(-2deg);
  }
  50% {
    transform: rotate(1deg) skewX(2deg);
  }
  60% {
    transform: rotate(-1deg) skewX(-1deg);
  }
  70% {
    transform: rotate(1deg) skewX(1deg);
  }
  80% {
    transform: rotate(-1deg) skewX(-1deg);
  }
  90% {
    transform: rotate(1deg) skewX(1deg);
  }
  100% {
    transform: rotate(0deg) skewX(0deg);
  }
}
