.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: enterBottom 1s forwards;
  transform: translateY(200%);
}

@keyframes enterBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.spinBtn {
  border-radius: 50%;
  background: linear-gradient(yellow, #66ff00, #0b8000);
  padding: 40px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  border: none;
  box-shadow: 0 8px 0 #134526;
  transition: 100ms;
  text-transform: uppercase;
  font-weight: 800;
  color: #0e3909;
  font-size: 25px;
}
.spinBtn:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #134526;
}
.spinBtn:focus {
  outline: none;
}

.main {
  height: 360px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @media (max-width: 1000px) {
    transform: scale(0.8);
    margin: -20px 0;
  }

  @media (max-width: 600px) {
    transform: scale(0.55);
    margin: -80px 0;
  }
}

.main:after {
  content: " ";
  height: 700px;
  top: -100px;
  left: -270px;
  position: absolute;
  z-index: -1;
  background-image: url("/assets/frame-desktop.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.frame {
  top: 100px;
  height: 280px;
}

.screen {
  position: relative;
  transform: translateY(140px);
  perspective: 650px;
  display: flex;
  flex: 1;
}

.screen:after {
  content: " ";
  background-color: rgb(35, 35, 35);
  width: 560px;
  height: 300px;
  top: -85px;
  left: -45px;
  position: absolute;
  z-index: -1;
}

.reel {
  transform-style: preserve-3d;
  width: 150px;
  height: 130px;
  transform-origin: center center;
  margin: 0 3px;
}

.slot {
  position: absolute;
  background-color: rgba(246, 241, 237);
  height: 130px;
  width: 150px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.feedback {
  height: calc(100% - 75px);
  width: calc(100% + 125px);
  position: absolute;
  top: 50px;
  left: -60px;
  border-radius: 8px;
  background-color: #0b8000;
  color: #fff;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    padding: 20px;
    font-size: 24px;
  }
}
.feedback h3 {
  font-size: 50px;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #a9ef07;
  margin: 0;
}
.feedbackBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.feedbackBtns a,
.feedbackBtns button {
  box-sizing: border-box;
  padding: 16px 32px;
  text-transform: uppercase;
  background: rgb(255, 226, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 226, 0, 1) 0%,
    rgba(255, 162, 0, 1) 100%
  );
  color: #000;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10px;
}

.slotFrame {
  height: 100%;
  width: calc(100% + 180px);
  position: absolute;
  top: 43px;
  left: -70px;
  background-image: url("/assets/slot-frame.png");
  background-size: 107%;
  background-repeat: no-repeat;
  background-position: -40px -45px;
}

.slotFrame:after {
  left: 320px;
}
