.wrapper {
  max-width: 90%;
}
@media screen and (min-width: 800px) {
  .wrapper {
    margin-top: -180px;
  }
}

.slots {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 60px auto 0;

  @media screen and (min-width: 800px) {
    max-width: 90%;
  }
}
.slots img {
  width: 30%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .slots img {
    max-width: 140px;
  }
}

.pengerMobile {
  position: absolute;
  top: -20px;
  left: 0px;
  right: -10px;
  z-index: 0;
  width: 100%;
  height: calc(100vh / 3);
  background: url('/assets/pengerMobile.png') no-repeat;
  background-size: contain;
  @media screen and (min-width: 800px) {
    display: none;
  }
}
.penger1 {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 0;
  display: none;
}
.penger2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  display: none;
}
.penger3 {
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: 0;
  display: none;
}
.penger4 {
  position: absolute;
  bottom: 20%;
  right: -10px;
  z-index: 0;
  display: none;
}
@media screen and (min-width: 800px) {
  .penger1,
  .penger2,
  .penger3,
  .penger4 {
    display: block;
  }
}

.congrats {
  max-width: 90%;
  height: auto;
  margin: 10px 0 20px;
}
.intro {
  font-family: var(--font-jomhuria);
  font-weight: 100;
  color: #fff;
  font-size: 36px;
  line-height: 30px;
  margin-top: -10px;
}
.intro p {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .intro {
    font-size: 60px;
    line-height: 50px;
  }
}

.body {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 800px) {
  .body {
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 29px;
  }
}

.btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 800px) {
  .btns {
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
  }
}
