.wrapper {
  max-width: 90%;
}
@media screen and (min-width: 800px) {
  .wrapper {
    margin-top: -180px;
  }
}

.slots {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}
.slots img {
  width: 33%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .slots img {
    max-width: 140px;
  }
}

.congrats {
  max-width: 90%;
  height: auto;
  margin-top: 0;
}
.intro {
  font-family: var(--font-jomhuria);
  font-weight: 100;
  color: #fff;
  font-size: 30px;
}
.intro p {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .intro {
    font-size: 60px;
  }
}

.body {
  color: #fff;
  font-size: 20px;
}
@media screen and (min-width: 800px) {
  .body {
    max-width: 70%;
    margin: 0 auto;
  }
}

.btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
